body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img {
    height: 400px;
    width: 400px;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

#on {
    height: 200px;
    width: 200px;
}